<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/css/*.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>PiggyBank</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark hg-pink border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/content/logo2.png" style="margin:0 20px" />
                <a class="navbar-brand" asp-action="Index" asp-controller="History">PiggyBank</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                    </ul>
                </div>
                <div class="col text-right collapse d-sm-inline-flex flex-sm-row-reverse">
                    @await Component.InvokeAsync("AccountsSummary")
                </div>
            </div>
        </nav>
    </header>
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["msg"]
        </div>
    }
    <div class="row m-1 p-1">
        <aside class="col-3"></aside>
        <div class="col-6">
            @RenderBody()
        </div>
        <div class="col-3"></div>
    </div>
</body>
</html>