@model AccountDto

<div class="p-card">
    <div class="row">
        <div class="col-2">
            <bold>@Model.Type</bold>
        </div>
        <div class="col-6">
            <h5 class="p-card__title">@Model.Title</h5>
        </div>
        <div class="col-2">
            @{
                var balanceAndCurrency = $"{Model.Balance} {Model.Currency}";
            }
            <span>@balanceAndCurrency</span>
        </div>
        <div class="col-2">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="p-button--neutral">Edit</a>
        </div>
    </div>
</div>