@model CategoryDto

<div class="card m-1 p-1">
    <div class="row no-gutters">
        <div class="col-md-2">
            <div style="background:@Model.HexColor;border-radius:20px;height:30px; width:30px"></div>
        </div>
        <div class="col-md-8">
            <h5>@Model.Title</h5>
        </div>
        <div class="col-md-2 text-right">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" style="font-size:12px;">Edit</a>
        </div>
    </div>
</div>