@model TransactionDto

<div class="p-card">
    <div class="row">
        <div class="col-2">
            <div class="center-block" style="border-radius:70px;height:50px; width:50px; margin: 0 auto; 100px;background:@Model.Category.HexColor;"></div>
        </div>
        <div class="col-8">
            <h5 class="p-card__title">@Model.Category.Title</h5>
            <p class="p-card__content">@Model.Account.Title</p>
            <code>@Model.Comment</code>
        </div>
        <div class="col-2">
            <h5 class="p-card__content">@Model.Amount</h5>
        </div>
    </div>
</div>