@inherits LayoutComponentBase

<div style="width:100%">
    <div class="sidepanel" style="background-color:red">
        <NavMenu />
    </div>

    <div class="maincontent">
        <div class="container_12">
            <div class="grid_12">
                @Body
            </div>
        </div>
    </div>
</div>

