<div>
    <div class="sidepanel_header">
        <a href="" class="non_link">Piggy Bank</a>
    </div>
    <ul>
        <li>
            <NavLink href="operations">
                <span class="oi oi-layers" aria-hidden="true"></span>Operations
            </NavLink>
        </li>
        <li>
            <NavLink href="accounts">
                <span class="oi oi-layers" aria-hidden="true"></span>Accounts
            </NavLink>
        </li>
        <li>
            <NavLink href="categories">
                <span class="oi oi-layers" aria-hidden="true"></span>Categories
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
