<div>
    <div>
        <a href="">Piggy Bank</a>
    </div>
    <ul>
        <li>
            <NavLink href="accounts">
                <span class="oi oi-layers" aria-hidden="true"></span>Accounts
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
