<div>
    <div class="sidepanel_header">
        <a href="" class="non_link" title="Piggy Bank">
            <div class="f_left margin_right_10">
                <img src="/images/logo.png" class="img_logo" />
            </div>
            <div class="margin_top_5">
                Piggy Bank
            </div>
        </a>
    </div>
    <div class="sidepnale_menu">
        <ul class="d_inline">
            <li class="non_li">
                <NavigationLink Href="operations" LinkText="Operations" ImgClass="oi oi-document"/>
            </li>
            <li class="non_li">
                <NavigationLink Href="accounts" LinkText="Accounts" ImgClass="oi oi-layers"/>
            </li>
            <li class="non_li">
                <NavigationLink Href="categories" LinkText="Categories" ImgClass="oi oi-tags"/>
            </li>
        </ul>
    </div>
</div>

@code {

}
