<div>
    <div class="sidepanel_header">
        <a href="" class="non_link" title="Piggy Bank">
            <div class="f_left margin_right_10">
                <img src="/images/logo.png" class="img_logo" />
            </div>
            <div class="margin_top_5">
                Piggy Bank
            </div>
        </a>
    </div>
    <ul>
        <li class="non_li">
            <NavLink href="operations">
                <span class="oi oi-layers" aria-hidden="true"></span>Operations
            </NavLink>
        </li>
        <li class="non_li">
            <NavLink href="accounts">
                <span class="oi oi-layers" aria-hidden="true"></span>Accounts
            </NavLink>
        </li>
        <li class="non_li">
            <NavLink href="categories">
                <span class="oi oi-layers" aria-hidden="true"></span>Categories
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
