@model HistoryViewModel
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.TransactionsInDay)
{
    <div>@item.Date.ToShortDateString()</div>
    foreach (var transaction in item.Transactions)
    {
        <partial name="TransactionView" for="@transaction" />
    }
}

