@model HistoryViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-2">
        <a asp-action="Create" class="p-button has-icon"> <i class="p-icon--plus"></i> <span>Add</span></a>
    </div>
</div>

@foreach (var item in Model.TransactionsInDay)
{
    <div class="row">
        <div class="col-2">@item.Date.ToShortDateString()</div>
        @foreach (var transaction in item.Transactions)
        {
        <div class="row">
            <partial name="TransactionView" for="@transaction" />
        </div>
        }
    </div>
}

