@using PiggyBank.Common.Enums

<div class="card">
    <div class="pointer @(Account.IsArchived ? "foreground_gray" : "")" @onclick="@(() => OnCardClick.InvokeAsync(Account))">
        <div class="f_left padding_10">
            @if (Account.IsArchived)
            {
                <span class="oi oi-trash"></span>
            }
            else
            {
                @switch (Account.Type)
                {
                    case AccountType.Cash:
                        <span class="oi oi-dollar"></span>
                        break;
                    case AccountType.Card:
                        <span class="oi oi-credit-card"></span>
                        break;
                }
            }
            @Account.Title
        </div>
        <div class="f_right padding_10">@($"{Account.Balance} {Account.Currency}")</div>
    </div>
</div>

@code {
    [Parameter]
    public AccountInfoDto Account { get; set; }

    [Parameter]
    public EventCallback<AccountInfoDto> OnCardClick { get; set; }
}