<div class="card">
    <div class="pointer" @onclick="@(() => OnCardClick.InvokeAsync(Account))">
        <div class="f_left padding_10">@Account.Title</div>
        <div class="f_right padding_10">@($"{Account.Balance} {Account.Currency}")</div>
    </div>
</div>

@code {
    [Parameter]
    public AccountInfoDto Account { get; set; }

    [Parameter]
    public EventCallback<AccountInfoDto> OnCardClick { get; set; }
}