<button class="link_button" @onclick="OnClick">
    @( string.IsNullOrEmpty(ButtonText)
        ? ShowText
        : ButtonText
    )
    <span class="@ChevronClass" />
</button>

@code {
    private const string ChevronBottom = "oi oi-chevron-bottom";
    private const string ChevronTop = "oi oi-chevron-top";

    [Parameter]
    public string ShowText { get; set; }

    [Parameter]
    public string HideText { get; set; }

    [Parameter]
    public EventCallback<bool> OnShowed { get; set; }

    private bool _isShowed;

    public bool IsShowed
    {
        get => _isShowed;
        set
        {
            if (_isShowed == value)
                return;

            _isShowed = value;
            if (_isShowed)
            {
                ChevronClass = ChevronTop;
                ButtonText = HideText;
            }
            else
            {
                ChevronClass = ChevronBottom;
                ButtonText = ShowText;
            }
        }
    }

    public string ButtonText { get; set; }

    public string ChevronClass { get; set; } = ChevronBottom;

    public async Task OnClick()
    {
        IsShowed = !IsShowed;
        await OnShowed.InvokeAsync(IsShowed);
    }
}
