<div class="nav_link">
    <a href="@Href" class="non_link">
        <div>
            <span class="@ImgClass margin_right_10"></span>
            <span>@LinkText</span>
        </div>
    </a>
</div>

@code {

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string LinkText { get; set; }

    [Parameter]
    public string ImgClass { get; set; }
}
