@model IEnumerable<AccountDto>


<div class="row">
    <div class="col-2">
        <a asp-action="Create" class="p-button has-icon">
            <i class="p-icon--plus"></i><span>Add</span>
        </a>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <partial name="AccountView" for="@item" />
    </div>
}
