@model IEnumerable<CategoryDto>

<div class="row no-gutters">
    <a asp-action="Create" class="btn btn-success">Add</a>
</div>
@foreach (var item in Model)
{
    <partial name="CategoryView" for="@item"/>
}
