<div class="@Class" @onmouseover="OnMouserOver" @onmouseout="OnMouseOut">
    <div class="card-body">
        <div class="d-inline"  @onclick="OnCardClick">
            @Account.Title
        </div>
        <div class="d-inline float-right">
            <div class="d-inline">
                @($"{Account.Balance} {Account.Currency}")
            </div>
            <div class="d-inline">
                <ContextMenu/>
            </div>
        </div>
    </div>
</div>

@code {

    public string Class { get; set; } = "b-bottom";

    [Parameter]
    public AccountInfoDto Account { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCardClick { get; set; }

    public void OnMouserOver()
    {
        Class = "b-bottom pointer";
    }

    public void OnMouseOut()
    {
        Class = "b-bottom";
    }
}