
<div class="card">
    <div class="card-body">
        <div class="d-inline">
            @AccountModel.Type
        </div>
        <div class="d-inline">
            @AccountModel.Title
        </div>
        <div class="d-inline">
            @BalanceAndCurrency
        </div>
    </div>
</div>

@code {

    [Parameter]
    public AccountDto AccountModel { get; set; }

    public string BalanceAndCurrency => $"{AccountModel?.Balance } {AccountModel?.Currency}";
}
