<div class="card active">
    <div class="card-body">
        <div class="d-inline">
            <bold>@AccountModel.Type</bold>
        </div>
        <div class="d-inline">
            <a>@AccountModel.Title</a>
        </div>
        <div class="d-inline">
            @BalanceAndCurrency
        </div>
    </div>
</div>

@code {

    [Parameter]
    public AccountDto AccountModel { get; set; }

    public string BalanceAndCurrency => $"{AccountModel?.Balance } {AccountModel?.Currency}";
}