@page "/accounts"
@inherits AccountsViewModel

<div class="margin_top_10">
    <div>
        <div class="f_left">Total balance</div>
        <div class="f_right">@(Accounts?.Sum(a => a.Balance))</div>
    </div>
    <br />
    <div>
        <hr size="1" color="#e5e5e5" />
    </div>
    <div class="margin_top_5">
        @if (Accounts == null)
        {
            <div class="text_center">
                <span>Loading accounts..</span>
            </div>
        }
        else
        {
            @foreach (var account in Accounts)
            {
                <AccountComponent Account="account" OnCardClick="OnShow" />
            }
        }
    </div>
</div>

<div class="modal" role="dialog" style="@style">
    <div class="modal_header">
        <button class="close f_right" @onclick="OnHidden">×</button>
        <h1 class="font_size_16">Edit Account</h1>
    </div>
    <div class="modal_body">
        <div>
            <div class="m_bottom_5">
                <label class="label">NAME</label>
            </div>
            <div class="w_calc_20">
                <input class="textbox" value="@Title"/>
            </div>
        </div>
    </div>
    <div class="modal_footer">
        <button class="success" @onclick="OnHidden">Save</button>
    </div>
</div>

<div class="@Class">

</div>

@code{

    private string style = "display:none;";
    private string Class = "";

    private string Title;

    public void OnShow(AccountInfoDto selectedAccount)
    {
        Class = "modal_background";
        style = "display:block;";
        Title = selectedAccount.Title;
    }

    public void OnHidden()
    {
        Class = "";
        style = "display:none;";
    }
}
