@page "/accounts"
@inherits AccountsViewModel

<div class="text-right">
    <a href="#" class="btn btn-success">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="css-1sylyko ewy7k8y10">
        <path fill="#ffffff" fill-rule="evenodd" d="M9 9V5.002a.999.999 0 1 1 2 0V9h3.998a.999.999 0 1 1 0 2H11v3.998a.999.999 0 1 1-2 0V11H5.002a.999.999 0 1 1 0-2H9z"></path>
        </svg> New account</a>
</div>

<br />

@if (Accounts == null)
{
    <span>You're haven't any accounts. Please create it!</span>
}
else
{
    @foreach (var account in Accounts)
    {
        <Account AccountModel="account" />
    }
}
