@page "/accounts/{accountId:int}"
@inherits AccountViewModel

@if (Model == null)
{
    <span>Something wrong!</span>
}
else
{
    <form>
        <div class="form-group">
            <label for="Title">Title</label>
            <input id="Title" @bind="Model.Title" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="Balance">Balance</label>
            <input id="Balance" @bind="Model.Balance" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" @onclick="OnSave">Save</button>
        </div>
    </form>
}