@page "/accounts"
@inherits AccountsViewModel

<div class="margin_top_10">
    <div>
        <div class="f_left">Total balance</div>
        <div class="f_right">@(Accounts?.Sum(a => a.Balance))</div>
    </div>
    <br />
    <div>
        <hr size="1" color="#e5e5e5" />
    </div>
    <div class="margin_top_5">
        @if (Accounts == null)
        {
            <div class="text_center">
                <span>Loading accounts..</span>
            </div>
        }
        else
        {
            @foreach (var account in Accounts)
            {
                <AccountComponent Account="account" OnCardClick="OnShow" />
            }
        }
    </div>
</div>

<EditAccountModal Account="SelectedAccount" />

@code{

    public AccountInfoDto SelectedAccount { get; set; }

    public void OnShow(AccountInfoDto selectedAccount)
    {
        SelectedAccount = selectedAccount;
    }
}
