@page "/accounts/{accountId:int}"
@inherits AccountViewModel
@using PiggyBank.Common.Enums

@if (Model == null)
{
    <span>Something wrong!</span>
}
else
{
    //NavigationManager doesn work with tag form
    <div>
        <div class="form-group">
            <label for="Title">Title</label>
            <input id="Title" @bind="Model.Title" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Balance">Balance</label>
            <input id="Balance" @bind="Model.Balance" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Type">Type</label>
            <select id="Type" @onchange="((args) => OnChanges(args))" class="form-control">
                @foreach (AccountType item in Enum.GetValues(typeof(AccountType)))
                {
                    if (item == Model.Type)
                    {
                        <option value="@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" @onclick="OnSave">Save</button>
        </div>
    </div>
}