@page "/accounts"
@inherits AccountsViewModel

<div class="text-right">
    <a href="#" class="btn btn-success">Add new Account</a>
</div>

<br />

@if (Accounts == null)
{
    <span>You're haven't any accounts. Please create it!</span>
}
else
{
    @foreach (var account in Accounts)
    {
        <Account AccountModel="account" />
    }
}
