@inherits AccountViewModel
@using PiggyBank.Common.Enums

@if (Model == null)
{
    <span>Something wrong!</span>
}
else
{
<EditForm Model="Model">
    <div class="form-group" style="background-color:white;">
        <label for="Title">Title</label>
        <input id="Title" @bind="Model.Title" class="form-control" />
    </div>

    <br />

    <div class="form-group" style="background-color:white;">
        <label for="Balance">Balance</label>
        <input id="Balance" @bind="Model.Balance" class="form-control" />
    </div>

    <br />

    <div class="form-group" style="background-color:white;">
        <label for="Type">Type</label>
        <select id="Type" @onchange="((args) => OnTypeChanged(args))" class="form-control">
            @foreach (AccountType item in Enum.GetValues(typeof(AccountType)))
            {
                if (item == Model.Type)
                {
                    <option value="@item" selected>@item</option>
                }
                else
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
    </div>

    <br />

    <div class="text-center">
        <button class="btn btn-primary" @onclick="OnSave">Save</button>
        <button class="btn btn-secondary" @onclick="OnGoBack">Cancel</button>
    </div>
</EditForm>
}