@page "/counter"
@using PiggyBank.Common.Interfaces
@using PiggyBank.Common.Models.ReturnModels
@inject IPiggyService Piggy

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (_account == null)
{
    <span>Not now</span>
}
else
{
    <span>@_account.Length</span>
}

@code {
    int currentCount = 0;
    private AccountDto[] _account;

    void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        _account = await Piggy.GetAccounts();
    }

}
